@import url('components/marker.css');
@import url('components/adress_form.css');
@import url('components/autocomplete_list.css');

#map {
	/*position: absolute;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*transform: translate(-50%, -50%);*/
	height: 60vh;
	width: 66vw;
	margin: auto;
	border-radius: 8px;
}

#coordinates {
	display: none;
}