.form-group {
	margin-bottom: 0;
}

#adress {
	margin-bottom: 0px !important;
}

#adress-submit {
	margin-bottom: 15px !important;
}

#adress-searchform {
	margin: 20px 0px;
}

#adress-searchform input {
	margin: 20px 0px;
	width: 100%;
}

#adress-searchform label {
	width: 100%;
}

#submit-block {
	display: flex;
	align-items: flex-end;
}